<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="header" th:include="/hotel/header"></th:block>
<section>
    <form id="frm" name="frm" method="get" action="/read/hotel/checkin" enctype="multipart/form-data">
        <div id="title">호텔별 예약 현황</div>

        <table th:border="1" align="center" th:width="600">
            <tr th:height="35"><td th:width="250" th:align="center">호텔 선택</td>
                <td th:width="350" th:align="left">
                    <select th:name="hotelCode" style="height:23px; width:150px;">
                        <option th:value="A001">신라호텔</option>
                        <option th:value="A002">롯데호텔</option>
                    </select>
                </td>
            </tr>

            <tr th:height="35" th:align="center"><td align="center" colspan="2">
                <input th:type="submit" th:value="조회하기">
            </td> </tr>
        </table>

    </form>
</section>
<th:block layout:fragment="footer" th:include="/hotel/footer"></th:block>